body

{  background-image: url("../imgs/food.jpg");

    background-repeat: no-repeat;

    background-position: center top;

    color:chocolate;

}

h1

table, tr, th, td

{

    border-style: dashed;

    border-color: brown;

    text-decoration-color: darkred;

    

}

{

    background-color: navajowhite;

}

a:hover

{

    color: dimgrey;



}

a:vistied

{

    color: yellow;



}

tr:hover

{

    background-color: orange;

    

      

}

